.box {
  width: 200px;
  height: 200px;
  background-color: aqua;
  transform: scale(0.1);
  transition: all 0.5s;
}

.box:hover {
  transform: scale(1);
  animation: rotate 0.5s infinite;
}

@keyframes rotate {
  25% {
    transform: rotate(90deg);
    background-color: #ff3737;
  }
  50% {
    transform: rotate(180deg);
    background-color: #f10a99;
  }
  75% {
    transform: rotate(270deg);
    background-color: #7b10f7;
  }
  100% {
    transform: rotate(360deg);
    background-color: #17e998;
  }
}
